/*Establishing font*/
    #basicID, h1, h2, h3, h4, ul, p, #porpoises {
        font-family: "Lexend Deca";

        animation: ease-in-out;
    }

/*Typical and Legit Styling*/

    p {
        font-size: 16px;
        opacity:50%;
    }

    h1 {
        font-size: 32px;
        opacity: 100%;

        /**/
    }

    h1, p {
        text-align: center;
    }

    #basicID {
        text-indent: 40px;
        line-height: 40px;
        font-size: 28px;
        font-weight: 125x;

        width: 120%;
        
        padding-left: 12.5%;
        margin-right: 5%;
        padding-top: 36px;
        padding-bottom: 18px;
    }

    #ballsID {
        padding-left: 25%;
    }
    
    /* Top 10 FACTS */
    .tenFacts {
        display:block;
        padding-left: 2.5%;
        padding-top: 54px;
        padding-bottom: 54px;
        margin-right: 5%;

        width: 107.5%;

        background-color: aquamarine;

        font-weight: 200;

        
        /*animation: ease-in-out 1.5s infinite 0.125s 1 reverse none;*/
        animation: 3s ease-in 1s 2 reverse both paused slide-in;
    }

    /*Who, what, where*/
    .species {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 12px;
        padding-bottom: 54px;


        line-height: 36px;

        color: white;

        font-weight: 200;
    }

    .habitat {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 12px;
        padding-bottom: 54px;


        line-height: 36px;

        color: white;

        font-weight: 200;
    }

    .fwater {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 12px;
        padding-bottom: 54px;


        line-height: 36px;

        color: white;

        font-weight: 200;
    }

    #porpoises {
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 16px;
    }

    h3::first-line, h4::first-line, #porpoises::first-line {
        font-size: 32px;
        font-weight: 500;
    }

    .species {
        background-image: url(images/ImageFolder/Dolphins.png);
        background-size:cover;

    }

    .habitat {
        background-image: url(images/ImageFolder/rivers\ and\ oceans.png);
        background-size: contain;
    }

    .fwater {
        background-image: url(images/ImageFolder/famous-rivers.png);
        background-size: cover;
    }





/*Grid setup*/
    #grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "a c" "a d";
    column-gap: 5%;
    }

/*Link Graphics*/
    a:hover {
        text-decoration: none;
        color:aquamarine; 
    }

    a::after {
        color: darkviolet;
    }


